<!doctype html>
<html>
  <head>
    <title>Welcome to <%= shopData.shopName %></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome to <%= shopData.shopName %></h1>

    <h2>Navigation</h2>
    <ul>
      <li><a href="/about">About <%= shopData.shopName %></a></li>
      <li><a href="/books/list">List all books</a></li>
      <li><a href="/books/bargainbooks">Bargain books (under £20)</a></li>
      <li><a href="/books/addbook">Add a new book</a></li>
      <li><a href="/books/search">Search for books</a></li>
      <li><a href="/users/register">Register</a></li>
      <li><a href="/users/login">Login</a></li>
      <li><a href="/users/list">List users</a></li>
      <li><a href="/users/audit">View login audit log</a></li>
    </ul>
  </body>
</html>
